# MinIO Root Credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me-to-a-strong-password8

# MinIO Configuration
MINIO_VOLUMES=/data
MINIO_SERVER_URL=https://s3.v2.selys.app
MINIO_BROWSER_REDIRECT_URL=https://minio.v2.selys.app

# Domain Configuration
S3_DOMAIN=s3.v2.selys.app
CONSOLE_DOMAIN=minio.v2.selys.app
CERTBOT_EMAIL=karimadio40@gmail.com

# Data directory on host
MINIO_DATA_DIR=./data
