[Unit]
Description=MinIO Object Storage Service
Documentation=https://docs.min.io
After=network.target

[Service]
Type=simple
User=minio
Group=minio
ProtectSystem=full
ProtectHome=yes
NoNewPrivileges=yes

EnvironmentFile=-/etc/default/minio
ExecStart=/usr/local/bin/minio server --address :9005 --console-address :9006 /var/lib/minio
ExecStartPost=/bin/sleep 2

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=minio

[Install]
WantedBy=multi-user.target
